*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/core/model/stocks/build/intermediates/aar_metadata/debug/writeDebugAarMetadata/aar-metadata.properties
/core/model/stocks/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/core/model/stocks/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/core/model/stocks/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/core/model/stocks/build/intermediates/annotation_processor_list/debugUnitTest/javaPreCompileDebugUnitTest/annotationProcessors.json
/core/model/stocks/build/kotlin/compileDebugKotlin/local-state/build-history.bin
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/core/model/stocks/build/intermediates/aar_main_jar/debug/syncDebugLibJars/classes.jar
/core/model/stocks/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/core/model/stocks/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/counters.tab
/core/model/stocks/build/intermediates/merged_java_res/debug/mergeDebugJavaResource/feature-stocks.jar
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i.len
/core/model/stocks/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/core/model/stocks/build/outputs/logs/manifest-merger-debug-report.txt
/core/model/stocks/build/intermediates/incremental/debug-mergeJavaRes/merge-state
/core/model/stocks/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/core/model/stocks/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/core/model/stocks/build/intermediates/incremental/mergeDebugShaders/merger.xml
/core/model/stocks/build/intermediates/incremental/packageDebugAssets/merger.xml
/core/model/stocks/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/core/model/stocks/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/core/model/stocks/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/core/model/stocks/build/tmp/kotlin-classes/debug/com/ebsoftware/nero/core/model/Position$Companion.class
/core/model/stocks/build/tmp/kotlin-classes/debug/com/ebsoftware/nero/core/model/Position.class
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/core/model/stocks/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debugUnitTest/generateDebugUnitTestStubRFile/R.jar
/core/model/stocks/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/core/model/stocks/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/core/model/stocks/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/core/model/stocks/build/kotlin/compileDebugKotlin/classpath-snapshot/shrunk-classpath-snapshot.bin
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
/core/model/stocks/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/core/model/stocks/build/outputs/aar/stocks-debug.aar
/core/model/stocks/build/intermediates/java_res/debug/processDebugJavaRes/out/META-INF/stocks_debug.kotlin_module
/core/model/stocks/build/tmp/kotlin-classes/debug/META-INF/stocks_debug.kotlin_module
/core/model/stocks/build/intermediates/annotations_typedef_file/debug/extractDebugAnnotations/typedefs.txt
